 .Toolbar{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(252, 162, 59);
    font-size: 2rem;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    box-shadow: 0 0 10px rgba(250, 215, 15, 0.5);
}   
@media (max-width: 632px) {
     .Toolbar nav {
      display: none;
 } 
}