.content {
    position: fixed;
    z-index: 1;
    background-color: rgb(243, 185, 26);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    width: 30%;
    left: 20%;
    top: 20%;
    padding: 1rem 2rem;
    transition: transform .3s ease-out;
  }