.Toolbar{
    display: flex;
    justify-content: space-between;

    background-color: rgb(245, 138, 16);
    font-size: 20px;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}