.Logo {
    display: flex;
    align-items: center;
    line-height: 1rem;
  }
  .Logo img {
    height: 4.5rem;
    margin: 0 1rem;
  }
  .Logo div {
    margin-top: 10px;
  }
  span{
      font-size: 29px;
      line-height: 40px;
  }