/* .Drawer .content {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;

  color: white;
  background-color: rgb(252, 162, 59);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  font-size: 2rem;
  transition: transform .3s ease-out;
}

.open {
  transform: translateX(0);
}
.closed {
  transform: translateX(-260px);
}

@media (min-width: 550px) {
  .Drawer {
    display: none;
  }
} */

.DrawerOpen {
  height: 3rem;
  padding: .5rem;
  margin: .5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}
.DrawerOpen > div {
  height: 3px;
  width: 2rem;
  background-color: white;
}
.DrawerOpen > div:not(:last-child) {
  margin-bottom: .5rem;
}

@media (min-width: 632px) {
  .DrawerOpen {
    display: none;
  }
}