.SandwichControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    
    /* padding-bottom: 30px; */
    /* margin-right: -15%; */
  }
  .SandwichControl .ingredient div {
    position: static;
    margin: 0 .5rem;
  }
  .SandwichControl button {
    border: 0;
  margin: 0 .5rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: rgb(253, 195, 69);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
 
  }
  .SandwichControl button:hover {
    background-color: rgb(235, 160, 48);
  }
  .SandwichControl button:focus {
    outline: none;
  }