.NavItem a {
  display: block;
  color: white;
  text-decoration: none;
  padding: .6rem 1rem .4rem;
  transition: all .2s ease-in;
}
.NavItem a:hover {
  border-color: white; 
  background-color: rgb(255, 180, 19);
  border-bottom: 7px 5px solid white; 


}
.NavItem a:active,
.NavItem a.active {
  border-color: white;
}

@media (max-width: 632px) {
  .NavItem a {
    /* border-bottom: none; */
     border-right: 10px solid transparent; 
  }
}