body {
    font-family: 'Merienda', cursive;
    margin: 0%;
    font-size: 20px;
    /* opacity: 0.6; */
    overflow-x:hidden;
   /* background-image: url(./images/23.webp);  */



}

.Burger {
    text-align: center;
    color: rgb(206, 145, 14);
}