body {
    font-family: 'Merienda', cursive;
    margin: 0%;
    font-size: 20px;
   
    overflow-x:hidden;
   /* background-image: url(./images/23.webp);  */ 
   /* opacity: 0.6; */



}

.Burger {
    text-align: center;
    color: rgb(206, 145, 14);
    /* filter: brightness(100%); */

}
.strong{ 
  
    width: 220px;
    margin-left: 43%;
}

@media (max-width: 550px) {
    .strong{
      margin-left: 8.5rem;
    }
  }